@import "tailwindcss";

:root {
    --background: #f4f4f5;
    --foreground: #09090b;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-aileron);
    --font-serif: var(--font-cooper);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #18181b;
        --foreground: #f4f4f5;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
